@import url('https://fonts.google.com/specimen/Josefin+Sans');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Josefin+Sans' sans-serif;
}

.container{
    display: flex;
}

.left{
    width: 60%;
}

.right{
    background-image: url("images/hero-desktop.jpg");
    background-size: cover;
    background-position: center center;
    width: 40%;
}